Repository MozillaSecurity/orion, pull requests merged in 2024-01, with the labels that each got.

#375 Don't compile preload with ASan
  services/nyx/launch-worker.sh
Labels: enhancement, nyx

#376 Sometimes use an empty corpus
  services/nyx/launch-worker.sh
Labels: enhancement, nyx

#378 Switch to mesa stable PPA
  services/grizzly/setup.sh
Labels: bug, grizzly

#374 Fix prefs.js usage
  services/nyx/sharedir/stage2.sh
Labels: bug, nyx

#381 Make xpcrt transform script executable
  services/libfuzzer/libfuzzer.sh
Labels: bug, libfuzzer

#380 Fix atexit handler to save slow/oom/timeout testcases
  services/libfuzzer/launch.sh
Labels: bug, libfuzzer

#382 [windows] Remove problematic symlink which prevents extraction under g-w
  services/bugmon-win/setup.sh
  services/ci-node-14-win/setup.sh
  services/ci-node-16-win/setup.sh
  services/ci-node-18-win/setup.sh
  services/ci-py-310-win/setup.sh
  services/ci-py-311-win/setup.sh
  services/ci-py-312-win/setup.sh
  services/ci-py-38-win/setup.sh
  services/ci-py-39-win/setup.sh
  services/grizzly-win/setup.sh
  services/site-scout-win/setup.sh
Labels: bug
