Repository MozillaSecurity/orion, pull requests merged in 2024-06, with the labels that each got.

#440 Update JSRT fuzzfetch flags
  services/libfuzzer/setup-target.sh
Labels: bug

#442 Save coverage data inputs for debugging
  services/nyx/launch-worker.sh
Labels: nyx

#443 [grizzly-reduce-monitor] Update dependencies to work with Python 3.12
  services/grizzly-reduce-monitor/setup.cfg
Labels: bug, grizzly

#447 Add worker field to pool configuration
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
  services/fuzzing-decision/tests/fixtures/community/config/imagesets.yml
  services/fuzzing-decision/tests/fixtures/pools/expect1.yml
  services/fuzzing-decision/tests/fixtures/pools/expect10.yml
  services/fuzzing-decision/tests/fixtures/pools/expect11.yml
  services/fuzzing-decision/tests/fixtures/pools/expect12.yml
  services/fuzzing-decision/tests/fixtures/pools/expect13.yml
  services/fuzzing-decision/tests/fixtures/pools/expect2.yml
  services/fuzzing-decision/tests/fixtures/pools/expect3.yml
  services/fuzzing-decision/tests/fixtures/pools/expect4.yml
  services/fuzzing-decision/tests/fixtures/pools/expect5.yml
  services/fuzzing-decision/tests/fixtures/pools/expect6.yml
  services/fuzzing-decision/tests/fixtures/pools/expect7.yml
  services/fuzzing-decision/tests/fixtures/pools/expect8.yml
  services/fuzzing-decision/tests/fixtures/pools/expect9.yml
  services/fuzzing-decision/tests/fixtures/pools/load-cfg.yml
  services/fuzzing-decision/tests/fixtures/pools/pool1.yml
  services/fuzzing-decision/tests/fixtures/pools/pool4.yml
  services/fuzzing-decision/tests/fixtures/pools/pool9.yml
  services/fuzzing-decision/tests/fixtures/pools/pre-pool.yml
  services/fuzzing-decision/tests/test_launch.py
  services/fuzzing-decision/tests/test_pool.py
Labels: enhancement, fuzzing-decision

#448 Update comment intended for previous commit
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
Labels: fuzzing-decision

#452 Pin base image to Alpine 3.19 for Python 3.11
  services/orion-builder/Dockerfile
Labels: bug, orion-builder

#450 Fixup patterns in fuzzing pool schema
  services/fuzzing-decision/src/fuzzing_decision/common/pool.py
  services/fuzzing-decision/src/fuzzing_decision/schemas/machines.yaml
  services/fuzzing-decision/src/fuzzing_decision/schemas/pools.yaml
Labels: bug, fuzzing-decision

#451 Remove another instance of ci-gw usage
  services/fuzzing-decision/src/fuzzing_decision/decision/pool.py
  services/fuzzing-decision/src/fuzzing_decision/decision/task_templates/decision.yaml
  services/fuzzing-decision/tests/test_pool.py
Labels: fuzzing-decision

#454 Fix CI check pre-commit hook.
  services/orion-decision/src/orion_decision/ci_check.py
Labels: orion-decision

#453 Fix coverage data artifact directory creation
  services/nyx/launch-root.sh
  services/nyx/launch-worker.sh
Labels: bug, nyx

#457 Create folder before writing secrets to disk
  services/orion-decision/src/orion_decision/ci_matrix.py
Labels: orion-decision

#458 Strip out C:\Users\Administrator from PATH
  services/orion-decision/src/orion_decision/cli.py
Labels: bug, orion-decision

#461 [orion-ci] Exclude Administrator folders from PATH
  services/orion-decision/src/orion_decision/cli.py
Labels: bug, orion-decision

#459 [Nyx] Fix covdata permission
  services/nyx/launch-root.sh
Labels: bug, nyx

#460 [Nyx] Move swapoff from user script to root script
  services/nyx/sharedir/fuzz_no_pt.sh
  services/nyx/sharedir/stage2.sh
Labels: enhancement, nyx
