Repository MozillaSecurity/orion, pull requests merged in 2025-05, with the labels that each got.

#625 Set OOM protection flag for Azure workers
  services/fuzzing-decision/src/fuzzing_decision/decision/providers.py
  services/fuzzing-decision/tests/test_pool.py
Labels: fuzzing-decision

#628 Fuzzilli Swiftly Support
  services/fuzzilli/setup.sh
Labels: enhancement

#631 Remove obsolete reference to old swift path
  services/fuzzilli/fuzzilli.sh
Labels: bug

#634 [grizzly] Remove pre-existing kvm group before creating with correct gid
  services/grizzly/launch-grizzly.sh
Labels: grizzly
